.navContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    overflow-x: scroll;
  }
  .navlink {
    border-radius: 5px;
    padding: 5px;
    background-color: burlywood;
    margin: 5px;
  }
  